@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@1,300&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* Variables for color */
:root {
    /* background color */
    --home-color: linear-gradient(to right, #222831, #31363F);
    --about-color: linear-gradient(to bottom, #31363F 35%, #222831 55%);
    --projects-color: #222831;
    --contact-color: linear-gradient(to right, #222831, #161A20);
    --scroll-color: #2d323a;
    --border-scroll: #161A20;

    /* text color */
    --title-color: #d6d6d6;
    --p-color: darkgrey;

    --opacity-image: 0.55;
}

.light-theme {
    /* background color */
    --home-color: linear-gradient(to right, darkgray, #d6d6d6);
    --about-color: linear-gradient(to bottom, #d6d6d6 35%, #b2b2b2 55%);
    --projects-color: #b2b2b2;
    --contact-color: linear-gradient(to right, #d6d6d6, #918f8f);
    --scroll-color: darkgray;
    --border-scroll: #918f8f;

    /* text color */
    --title-color: #29303a;
    --p-color: #31363F;

    --opacity-image: 0.8;
}


/* General formatting */

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: background-color 0.3s, color 0.3s;
}

/* Scroll bar (track) */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: var(--scroll-color);
    transition: color 0.3s;
}

::-webkit-scrollbar-thumb {
    background-color: #76ABAE;
    border-radius: 10px;
    border: 2px solid var(--border-scroll);
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #222831;
    padding: 20px 20px;
    height: 100px;
    color: #d6d6d6;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    font-size: 1.5em;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 60px;
    gap: 30px;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #76ABAE;
    font-size: 22px;
    letter-spacing: 2px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #EEEEEE;
}

.menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu span {
    background: #76ABAE;
    height: 3px;
    width: 25px;
    margin: 4px 40px;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #222831;
        position: absolute;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        top: 60px;
        right: 20px;
        width: 200px;
        padding: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .menu {
        display: flex;
    }
}

/* HOME FORMATTING */

#home {
    display: flex;
    background: var(--home-color);
    width: 100%;
    height: 90vh;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    border-bottom: #76ABAE 1px solid;
    transition: background-color 0.3s, color 0.3s;
}

.home_greetings {
    position: relative;
}

.home_greeting_container {
    margin-left: 400px;
    margin-right: 400px;
}

.home_greeting_container h2 {
    font-size: 50px;
    color: var(--title-color);
    letter-spacing: 2px;
    transition: color 0.3s;
}

.name_animation, .name_animation span {
    animation-duration: 2s;
    animation-fill-mode: both;
}

.name_animation span {
    display: inline-block
}

.typing {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #76ABAE;
    animation: typing 3s steps(24, end), cursor 1s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 70%
    }
}

@keyframes cursor {
    50% {
        border-color: transparent
    }
}

.home_greeting_container p {
    font-size: 25px;
    color: var(--p-color);
    margin: 30px 100px 60px 100px;
    transition: color 0.3s;
}

.home_greeting_container a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 25px;
    color: #222831;
    font-weight: 500;
    letter-spacing: 2px;
    border: #76ABAE 2px solid;
    background-color: #76ABAE;
    border-radius: 40px;
    padding: 15px 25px;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
}

.home_greeting_container a:hover {
    transform: scale(0.95);
    opacity: 1;
}

@media (max-width: 768px) {
    #home {
        top: 0;
        padding: 25px;
        height: 80%;
    }

    .home_greeting_container h2 {
        font-size: 24px;
        top: 0;
    }

    .home_greeting_container p {
        font-size: 15px;
        margin-right: 30px;
        margin-left: 30px;
    }

    .home_greeting_container a {
        font-size: 18px;
        padding: 8px 15px;
    }

    @keyframes typing {
        from {
            width: 0
        }
        to {
            width: 100%
        }
    }
    @keyframes cursor {
        50% {
            border-color: transparent
        }
    }
}

.theme-switch {
    position: absolute;
    bottom: 25px;
    right: 25px;
    display: inline-block;
    width: 55px;
    height: 29px;
    cursor: pointer;
}


.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Slider */
.theme-switch .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222831;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.theme-switch .slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    background-color: #76ABAE;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: transform 0.3s;
}

input:checked + .slider {
    background-color: #b2b2b2;
}

input:checked + .slider:before {
    transform: translateX(24px);
}

/* SOCIAL ICON FORMATTING*/

.social_media {
    display: flex;
    flex-direction: column;
    position: fixed;
    transform: translateY(-50%);
    left: 0;
    top: 50%;
    gap: 30px;
    padding: 20px 20px 20px 20px;
    border: #76ABAE solid 2px;
    border-radius: 0 15px 15px 0;
    background-color: #76ABAE;
    opacity: 0.85;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.hidden {
    display: none;
}

.instagram, .linkedin {
    width: 35px;
    height: auto;
    opacity: 0.75;
    transition: all 0.3s ease-in-out;
}

.git, .email {
    width: 37px;
    height: auto;
    opacity: 0.75;
    transition: all 0.3s ease-in-out;
}

.social_media img:hover {
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.75;
}

@media (max-width: 768px) {
    .social_media img {
        width: 25px;
        height: auto;
        opacity: 0.75;
        transition: all 0.3s ease-in-out;
    }

    .social_media {
        display: none;
    }
}

/* ABOUT FORMATTING */

#about {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    text-align: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    background: var(--about-color);
    transition: background-color 0.3s, color 0.3s;
}

.about_title {
    margin-top: 100px;
    margin-bottom: 20px;
}

.about_title h3 {
    font-size: 50px;
    letter-spacing: 3px;
    color: var(--title-color);
    transition: color 0.3s;
}

.title-line {
    background-color: #76ABAE;
    border: none;
    border-radius: 5px;
    height: 3px;
    width: 30%;
    margin: 10px auto;
    opacity: 0.6;
}

.about_text p {
    font-size: 22px;
    justify-items: center;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 10px;
    color: var(--p-color);
    transition: color 0.3s;
}

#div_button {
    margin-top: 80px;
}

#div_button a {
    text-decoration: none;
    outline: none;
}

#div_button button {
    display: inline-block;
    position: relative;
    font-size: 25px;
    color: #222831;
    font-weight: 500;
    letter-spacing: 2px;
    border: #76ABAE 2px solid;
    background-color: #76ABAE;
    border-radius: 40px;
    padding: 10px 40px;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

#div_button button:hover {
    transform: scale(0.98);
    opacity: 1;
}

@media (max-width: 768px) {
    .about_title h3 {
        font-size: 40px;
        letter-spacing: 3px;
        color: var(--title-color);
        transition: color 0.3s;
    }

    .about_text p {
        font-size: 20px;
        justify-items: center;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 10px;
        color: var(--p-color);
        transition: color 0.3s;
    }

    #div_button button {
        display: inline-block;
        position: relative;
        font-size: 22px;
        color: #222831;
        font-weight: 500;
        letter-spacing: 2px;
        border: #76ABAE 2px solid;
        background-color: #76ABAE;
        border-radius: 40px;
        padding: 8px 35px;
        opacity: 0.8;
        transition: all 0.3s ease-in-out;
    }
}

/* Skills formating */
.box_skill {
    background-color: #d6d6d6;
    border: #d6d6d6 1px solid;
    border-radius: 15px;
    margin-top: 150px;
    font-family: "Inter", sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
}

.database {
    background-color: #76ABAE;
    border: 1px solid #76ABAE;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 20px;
}

.database img {
    width: 50px;
    height: auto;
    opacity: 0.8;
    object-fit: cover;
}

.machine {
    background-color: #76ABAE;
    border: 1px solid #76ABAE;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 20px;
}

.machine img {
    width: 65px;
    height: auto;
    opacity: 0.8;
}

.top-half {
    border-right: 1px solid #31363F;
}

.box_skill h4 {
    font-size: 40px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    color: #2d323a;
}

.box_skill p {
    font-size: 20px;
    justify-items: center;
    justify-content: center;
    color: #2d323a;
    line-height: 1.8;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.languages {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.little_box {
    border: #76ABAE 2px solid;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #76ABAE;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    color: #1d2a2b;
}

.little_box:hover {
    border: #76ABAE 2px solid;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #d6d6d6;
}

/* PROJECTS FORMATING */
#projects {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    text-align: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    background-color: var(--projects-color);
    transition: background-color 0.3s, color 0.3s;
}

.project_title {
    margin-top: 150px;
    margin-bottom: 100px;
}

.project_title h3 {
    font-size: 50px;
    letter-spacing: 3px;
    color: var(--title-color);
    transition: color 0.3s;
}

.project_title hr {
    background-color: #76ABAE;
    border: none;
    border-radius: 5px;
    height: 3px;
    width: 30%;
    margin: 10px auto;
    opacity: 0.6;
}

/* Projects images formating */

.projects_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 80px;
}

.project .image_container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 12px;
}

.project .image_container img {
    display: block;
    width: 400px;
    height: auto;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.project .image_container:hover img {
    transform: scale(1.05);
}

.project .image_container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 12px;
}

.project .image_container:hover .overlay {
    opacity: 1;
}

.project .image_container .overlay p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.project .image_container .overlay .button-link {
    padding: 10px 20px;
    font-size: 16px;
    color: #d6d6d6;
    border: #76ABAE 2px solid;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.project .image_container .overlay .button-link:hover {
    background-color: #76ABAE;
    color: #222831;
    border: #76ABAE 2px solid;
}

@media (max-width: 768px) {
    .project img  {
        width: 400px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 480px) {
    .project img {
        width: 200px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

/* CONTACT FORMATING */
#contact {
    display: flex;
    flex-direction: column;
    min-height: 85vh;
    width: 100%;
    overflow: hidden;
    text-align: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    background: var(--contact-color);
    border-bottom: #76ABAE 1px solid;
    border-top: #76ABAE 1px solid;
    transition: background-color 0.3s, color 0.3s;
}

.contact_title {
    margin-top: 150px;
    margin-bottom: 100px;
}

.contact_title h3 {
    font-size: 50px;
    letter-spacing: 3px;
    color: var(--p-color);
    transition: color 0.3s;
}

.contact_line {
    background-color: #76ABAE;
    border: none;
    border-radius: 5px;
    height: 3px;
    width: 30%;
    margin: 10px auto;
    opacity: 0.7;
}

#contact_container {
    width: 80%;
    margin-top: 50px;
}

#contact_container hr {
    background-color: #76ABAE;
    border: none;
    border-radius: 5px;
    height: 3px;
    width: 20%;
    margin: 10px auto;
    opacity: 0.7;
}

#contact_container .col-md-3 {
    margin-left: 15px;
    margin-right: 15px;
}

#contact_container img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #76ABAE;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #76ABAE;
    opacity: var(--opacity-image);
}

#contact_container h4, p {
    color: var(--p-color);
    transition: color 0.3s;
}

.box_contact a {
    text-decoration: none;
    border: none;
}

.box_contact {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box_contact:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .contact_title h3 {
        font-size: 40px;
        letter-spacing: 3px;
        color: var(--p-color);
        transition: color 0.3s;
    }

    .contact_title {
        margin-top: 150px;
        margin-bottom: 20px;
    }
}

/* FOOTER FORMATTING */
.container-footer {
    display: flex;
    background-color: #161A20;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.nav-item a {
    font-family: "Inter", sans-serif;
    color: #76ABAE;
    font-size: 15px;
}

.nav-item a:hover {
    color: #EEEEEE;
}


.container-footer a {
    font-family: "Inter", sans-serif;
    color: #76ABAE;
    font-size: 15px;
}

.container-footer p {
    font-size: 10px;
    font-family: "Inter", sans-serif;
    color: #76ABAE;
}