@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #222831;
    padding: 20px 20px;
    height: 80px;
    color: white;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 50px;
    gap: 30px;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #76ABAE;
    font-size: 20px;
    letter-spacing: 1px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #EEEEEE;
}


.menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu span {
    background: white;
    height: 3px;
    width: 25px;
    margin: 4px 20px;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        padding: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .menu {
        display: flex;
    }
}

/* FOOTER FORMATTING */
.container-footer {
    display: flex;
    background-color: #31363F;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.nav-item a {
    font-family: "Poppins", sans-serif;
    color: #76ABAE;
    font-size: 15px;
}

.nav-item a:hover {
    color: #EEEEEE;
}




.container-footer a {
    font-family: "Poppins", sans-serif;
    color: #76ABAE;
    font-size: 15px;
}

.container-footer p {
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    color: #76ABAE;
}